<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE xml>
<web-app>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.java.be.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
   <error-page> 
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
  </error-page>
  <error-page> 
        <error-code>505</error-code>
        <location>/error_505.jsp</location>
  </error-page>
</web-app>
