<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE xml>
<web-app>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.java.be.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>